/*!
Theme Name:   Shepparton Art Museum
Author:       Shepparton Art Museum
Version:      1.19.22
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
	margin: 0;
	min-height: 100vh;
	scroll-behavior: smooth;
	line-height: 1.5;
}

/* Set default margin */
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
ul,
ol,
figure,
figcaption,
blockquote,
dl,
table {
  margin: 1.5em 0;
}
ul ul,
ul ol,
ol ul,
ol ol {
	margin: 0;
}
li,
dt,
dd {
	margin: 0;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}






















/* -----------------------------------------------------------------------------
 * Fonts
 * ---------------------------------------------------------------------------*/

/* These are the SAM fonts. The body font is a Google Font. */
@font-face {
	font-family: 'SAM Display';
	src: url('fonts/sam-display-ultralight.woff2') format('woff2'),
		 url('fonts/sam-display-ultralight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'SAM Display';
	src: url('fonts/sam-display-extrabold.woff2') format('woff2'),
		 url('fonts/sam-display-extrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

/* -----------------------------------------------------------------------------
 * Colours
 * ---------------------------------------------------------------------------*/

 :root {
	 /* We're not actually using CSS custom properties in this stylesheet,
	  * because we want to support Internet Explorer. But this is here to list
	  * the colours / variables we're using, and for future use once IE is no
	  * longer supported. */
	 
	 /* Colours */
	 --light-grey: #e6e6e6;
	 --medium-grey: #bebebe;
	 --dark-grey: #878787;
	 --charcoal: #4e4e4e;
	 
	 --red: #EF4030;
	--orange: #F47920;
	 --yellow: #FFC20E;
	--light-green: #98CB4F;
	--dark-green: #41BA7C;
	--teal: #89CCCA;
	--light-blue: #00B9E8;
	--dark-blue: #27557D;
	--purple: #812990;
	 --pink: #E74098;
	
	 
	 /* Z-Index Levels */
	 --z-index-loading-modal: 50;
	 --z-index-nav-drop-down: 100;
	 --z-index-nav-drop-down-heading: 200;
	 --z-index-header-modal: 300;
	 --z-index-mobile-nav-bar: 400;
	 --z-index-traditional-owners: 500;
 }

/* -----------------------------------------------------------------------------
 * Typography
 * ---------------------------------------------------------------------------*/
body {
	color: black;
	font-family: 'Nunito Sans', sans-serif;
}

a {
	color: black;
	text-decoration: underline;
	/* text-decoration-color: hsla(0, 0%, 0%, 50%); */
	text-decoration-color: hsla(0, 0%, 0%, 1);
	background: transparent;
	
	transition-property: background-color, text-decoration-color;
	transition-duration: 0.15s;
}
a:hover, a:focus {
	text-decoration: none; /* Need this in case decoration-color not supported*/
	background: #e6e6e6;
	background: hsla(0, 0%, 0%, 0.1);
}
@supports(text-decoration-color: black) {
	a:hover, a:focus {
		text-decoration: underline;
		text-decoration-color: hsla(0, 0%, 0%, 0);
	}
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	font-family: 'SAM Display';
	font-weight: bolder;
	text-transform: lowercase;
	break-after: avoid;
}
h3 {
	font-weight: lighter;
	text-transform: none;
}
h4, h5 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	text-transform: none;
}
h1 { font-size: 2em; } /* h1 is used in the layout and not normally */
h2 { font-size: 1.75em; } /* in the page content. */
h3 { font-size: 1.5em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }
h6 { font-size: 0.9em; }
/* Collapse vertical margins for headings inside a hgroup. */
hgroup > * { margin: 0.25em 0; }


/* Paragraphs */
.p-intro {
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 125%;
}

/* Lists */
/* Regular lists are fine as-is */
dt {
	margin-top: 1.5em; /* Separate from previous definition */
	font-weight: bold;
}
dd > :first-child { margin-top: 0; }

/* Blockquotes */
blockquote {
	padding: 1.5em;
	background: black;
	color: white;
}
blockquote > :first-child { margin-top: 0; }
blockquote > :last-child { margin-bottom: 0; }
blockquote a {
	color: white;
	text-decoration-color: hsla(0, 0%, 100%, 0.8);
}
blockquote a:hover {
	text-decoration-color: hsla(0, 0%, 100%, 1);
}

/* Figures */
figure > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
figure > table { display: table; }
figcaption {
	padding: 0 1.5em;
	text-align: left;
	font-size: 90%;
	line-height: 1.4;
	/* font-style: italic; */
}

/* Horizontal Rules */
hr {
	margin: 3em 0;
	border: none;
	border-top: 0.5em solid #e6e6e6;
}

/* Small print */
small {
	margin: 1.5em 0;
	font-size: 75%;
	line-height: 1.5;
	/* font-style: italic; */
}
small:only-child {
	display: block;
}

/* Tables */
table {
	min-width: 100%;
	break-inside: avoid;
	border-collapse: collapse;
}
table tr th {
	background: black;
	color: white;
	text-align: left;
}
.datepicker th {
	background: transparent;
}
table tr td {
	border-bottom: 1px solid black;
}
th, td {
	padding: 0.25em 0.5em;
	line-height: 1.25;
}
.wp-block-table table { margin: 0; } /* Fix double margins */

/* Buttons */
.button,
.wp-block-button__link {
	display: inline-block;
	margin: 0.25em 0;
	padding: 0.5em 1.4em 0.39em;
	border: 2px solid transparent; /* Used for focus state below */
	border-radius: 1em;
	background: #e6e6e6;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
	color: black;
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	line-height: 1.1;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	cursor: pointer;
	transition: box-shadow 0.05s, transform 0.05s;
}
.button + .button { margin-left: 0.5em; }
.button:focus,
.wp-block-button__link:focus {
	outline: none; /* We set our own below using border */
	border: 2px solid hsla(0, 0%, 50%, 0.5);
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.button:active,
.wp-block-button__link:active {
	transform: translateY(0.05em);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.button[disabled],
.button.disabled,
.button.button-disabled {
	opacity: 0.5;
	box-shadow: none;
	cursor: default;
}
.button[disabled]:active,
.button.disabled:active,
.button.button-disabled:active {
	transform: none;
}
.button-large { font-size: 125%; }
.button-small { font-size: 85%; }
.button-mini { font-size: 75%; }

.wp-block-button__link:not(.has-text-color):focus,
.wp-block-button__link:not(.has-text-color):hover,
.wp-block-button__link:not(.has-text-color):active,
.wp-block-button__link:not(.has-text-color):visited {
	color: black;
}
.wp-block-button__link.has-background {
	display: inline-block;
	margin: 0.25em 0;
	padding: 0.5em 1.4em 0.39em !important;
}

/* Forms */
form {
	/* background: #e6e6e6; */
}
legend {
	padding: 0;
}
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=file],
input[type=month],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea,
select {
	display: block;
	width: 100%;
	margin: 0 0 0.25em;
	padding: 0.25em 0.75em;
	border: 1px solid #bebebe;
	border-radius: 0.75em;
}
input::placeholder {
	color: #bebebe;
}
input[type=checkbox],
input[type=radio] {
	display: inline-block;
	margin: 0 0.5em 0 0;
}

/* WooCommerce Forms */

label .required { color: #bebebe; text-decoration: none; display: none; }
.form-row {
	margin: 1em 0;
	padding: 0.75em 1.75em;
	border-radius: 1.75em;
	background: white;
	break-inside: avoid;
}
.form-row label {
	display: block;
	color: #4e4e4e;
}
.form-row input:not([type=checkbox]):not([type=radio]),
.form-row textarea {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
}
.form-row textarea {
	margin-top: 0.5em;
}

.form-row .woocommerce-input-wrapper {
	display: block;
	font-size: 120%;
}

/* Custom select field used by WooCommerce */
.select2-container--default .select2-selection--single {
	border: none;
}
.select2-dropdown {
	border: none;
}
.select2-container--open .select2-dropdown--below {
	border-radius: 0.25em;
	overflow: hidden;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0;
}
.select2-dropdown {
	margin-top: 14px;
	padding-top: 0;
	box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.3);
}
.select2-search--dropdown {
	display: none; /* We only have 8 states in Aus, so no need for a search */
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option-	-highlighted[data-selected] {
	background: #4e4e4e;
}


/* Colours */
/* These are using Wordpresses class names so that colours can be chosen in the
   editor. */

/* Background colours */

/* Lighter ones */
.has-white-background-color { background: white !important; color: black; }
.has-yellow-background-color { background: #FFC20E !important; color: black; }
.has-teal-background-color { background: #89CCCA !important; color: black; }
.has-light-green-background-color { background: #98CB4F !important; color: black; }

/* Dark background colours need !important to change text and link colours */
.has-black-background-color { background: black !important; color: white; }
.has-red-background-color { background: #EF4030 !important; color: white; }
.has-orange-background-color { background: #F47920 !important; color: white; }
.has-pink-background-color { background: #E74098 !important; color: white; }
.has-light-blue-background-color { background: #00B9E8 !important; color: white; }
.has-dark-green-background-color { background: #41BA7C !important; color: white; }
.has-dark-blue-background-color { background: #27557D !important; color: white; }
.has-purple-background-color { background: #812990 !important; color: white; }

.has-black-background-color a,
.has-red-background-color a,
.has-orange-background-color a,
.has-pink-background-color a,
.has-light-blue-background-color a,
.has-dark-green-background-color a,
.has-dark-blue-background-color a,
.has-purple-background-color a {
	color: white; text-decoration-color: white;
}
.has-black-background-color a:hover, .has-black-background-color a:focus,
.has-red-background-color a:hover, .has-red-background-color a:focus,
.has-orange-background-color a:hover, .has-orange-background-color a:focus,
.has-pink-background-color a:hover, .has-pink-background-color a:focus,
.has-light-blue-background-color a:hover, .has-light-blue-background-color a:focus,
.has-dark-green-background-color a:hover, .has-dark-green-background-color a:focus,
.has-dark-blue-background-color a:hover, .has-dark-blue-background-color a:focus,
.has-purple-background-color a:hover, .has-purple-background-color a:focus {
	color: white;
	background: hsla(0, 0%, 100%, 0.1) !important;
}


/* Text colours */
.has-black-color,
.has-black-color:focus,
.has-black-color:hover,
.has-black-color:active,
.has-black-color:visited { color: black !important; }
.has-white-color,
.has-white-color:focus,
.has-white-color:hover,
.has-white-color:active,
.has-white-color:visited { color: white !important; }
.has-yellow-color,
.has-yellow-color:focus,
.has-yellow-color:hover,
.has-yellow-color:active,
.has-yellow-color:visited { color: #FFC20E !important; }
.has-teal-color,
.has-teal-color:focus,
.has-teal-color:hover,
.has-teal-color:active,
.has-teal-color:visited { color: #89CCCA !important; }
.has-light-green-color,
.has-light-green-color:focus,
.has-light-green-color:hover,
.has-light-green-color:active,
.has-light-green-color:visited { color: #98CB4F !important; }
.has-red-color,
.has-red-color:focus,
.has-red-color:hover,
.has-red-color:active,
.has-red-color:visited { color: #EF4030 !important; }
.has-orange-color,
.has-orange-color:focus,
.has-orange-color:hover,
.has-orange-color:active,
.has-orange-color:visited { color: #F47920 !important; }
.has-pink-color,
.has-pink-color:focus,
.has-pink-color:hover,
.has-pink-color:active,
.has-pink-color:visited { color: #E74098 !important; }
.has-light-blue-color,
.has-light-blue-color:focus,
.has-light-blue-color:hover,
.has-light-blue-color:active,
.has-light-blue-color:visited { color: #00B9E8 !important; }
.has-dark-green-color,
.has-dark-green-color:focus,
.has-dark-green-color:hover,
.has-dark-green-color:active,
.has-dark-green-color:visited { color: #41BA7C !important; }
.has-dark-blue-color,
.has-dark-blue-color:focus,
.has-dark-blue-color:hover,
.has-dark-blue-color:active,
.has-dark-blue-color:visited { color: #27557D !important; }
.has-purple-color,
.has-purple-color:focus,
.has-purple-color:hover,
.has-purple-color:active,
.has-purple-color:visited { color: #812990 !important; }



/* -----------------------------------------------------------------------------
 * Layout - maximum width
 * ---------------------------------------------------------------------------*/
.limit-width,
.limit-width-wide {
	margin: 0 auto;
	padding: 0 1.5em;
	max-width: 50em;
}
.limit-width-wide {
	max-width: 105em;
}
.limit-width-no-padding {
	padding: 0 !important;
}
@media (min-width: 30em) {
	.limit-width,
	.limit-width-wide {
		padding: 0 3em; /* A bit more padding on larger screens */
	}
}
@media (min-width: 45em) {
	.limit-width,
	.limit-width-wide {
		padding: 0 4.5em; /* A bit more padding on larger screens */
	}
}

/* -----------------------------------------------------------------------------
 * Header
 * ---------------------------------------------------------------------------*/

.site-notice {
	/* background: #e6e6e6; */
	background: black;
	padding: 1em 1.5em;
	color: white;
	text-align: center;
	font-size: 90%;
	line-height: 1.25;
}
.site-notice a {
	color: white;
	text-decoration: underline;
}

.site-header {
	margin: 0;
	padding: 1em 0;
	background: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

/* While in "modal" (fullscreen) mode on mobile */
@media (max-width: 74em)
{
	body.modal-is-open {
		height: 100vh;
		overflow: hidden;
	}
	.site-header.modal-is-open {
		background: white;
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
		overflow-y: scroll;
		z-index: 300;
	}
}

/* Logo */
.header-heading { margin: 0; }
.header-logo-link { display: block; }
.header-logo-link:hover { background: transparent; }
.header-logo-image { display: block; max-height: 1.25em; margin: 0 auto; }
@media (min-width: 40em) {
	.header-logo-image { max-height: 1.5em; }
}

/* Navigation */
.menu,
.menu ul,
.menu .sub-menu,
.menu .sub-menu ul {
	padding: 0;
	list-style: none;
}
.menu-item a {
	padding: 0.35em 0 0.3em;
	
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 1.125rem;
	text-decoration: none;
}
.menu-item a:hover,
.menu-item a:focus {
	background: transparent;
	text-decoration: none;
}
/* Arrow that appears next to menu items that have sub-items. */
.desktop-navigation .menu-item-has-children > a::after,
.mobile-navigation .menu-item-has-children > a::after {
	border: none;
	background: transparent;
	color: #bebebe;
	cursor: pointer;
	transition: all ease 0.2s;
}
/* Sub-items */
.sub-menu .menu-item a {
	padding: 0.35em 0 0.35em 1.5em;
	
	color: hsl(0, 0%, 35%);
	font-family: 'Nunito Sans', sans-serif;
	font-weight: normal;
	font-size: 0.875rem;
}
/* Navigation is focusable for keyboard navigation / screen readers, but the
outline looks a bit ugly. */
#navigation:focus { outline: none; }

/* Navigation - Mobile */
.mobile-navigation {
	/* Hidden by default, until user clicks the Menu button */
	visibility: hidden;
	position: absolute;
	opacity: 0;
	top: -999em;
	height: 0;
	padding: 0;
	transform: translateY(1.5em);
}
.mobile-navigation.modal-is-open {
	visibility: visible;
	position: static;
	opacity: 1;
	height: auto;
	transform: translateY(0);
	transition: opacity ease 0.3s, transform ease 0.3s;
	
	padding: 1em 2em 7em;
}
	.mobile-navigation .menu-item {
		border-bottom: 1px solid #e6e6e6;
	}
	.mobile-navigation .menu-item:last-of-type {
		border: none;
	}
	.mobile-navigation .menu-item a {
		display: flex;
		justify-content: space-between;
	}
	
	/* Sub-items */
	.mobile-navigation .sub-menu {
		/* While hidden */
		flex: 1 0 100%;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		margin-top: 0;
		margin-bottom: 0;
		transition: all 0.2s;
		transition-timing-function: ease-out;
	}
	.mobile-navigation .sub-menu.toggled-on {
		/* While visible */
		margin: 0.25em 0 1em;
		visibility: visible;
		 /* Set the max-height to the maximum height that the sub-menu will be.
		 Try not to set it too much larger than the sub-menu will actually be,
		 as this messes up the animation timing. */
		max-height: 20em;
		opacity: 1;
		transition-timing-function: ease-in;
	}
	.mobile-navigation .sub-menu .menu-item {
		border: none;
	}
	
	/* Arrow icon */
	.mobile-navigation .menu-item-has-children > a::after {
		padding: 0 0.75em;
		margin-right: -0.75em;
	}
	.mobile-navigation .menu-item-has-children.toggled-on > a::after {
		transform: rotate(180deg);
	}
	
	/* Mobile Navigation Secondary Items (Translate link) */
	.mobile-navigation-secondary {
		margin: 3em 0 0;
	}
	.mobile-navigation-secondary-item {
		font-size: 90%;
		color: #878787;
		text-decoration: none;
	}
	.mobile-navigation-secondary-icon {
		margin-right: 0.3em;
		font-size: 175%;
		vertical-align: text-bottom;
	}

/* Navigation - Desktop */
.desktop-navigation {
	margin: 0;
	display: none; /* Hidden in mobile layout. */
}
	.desktop-navigation .menu {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	.desktop-navigation .menu-item {
		flex: 0 0 auto;
		margin: 0 0.25em;
		border-radius: 1em;
		transition: background ease 0.15s;
	}
	.desktop-navigation .menu-item:hover {
		background: #e6e6e6;
	}
	.desktop-navigation .menu-item a {
		display: inline-block;
		padding: 0.4em 0.75em;
	}
	/* Arrow icon */
	.desktop-navigation .menu-item-has-children > a::after {
		margin-left: 0.25em;
	}
	
	/* Sub-items */
	.desktop-navigation .menu-item {
		position: relative;
	}
	.desktop-navigation .menu-item.toggled-on > a {
		z-index: 200;
		position: relative; /* Need this or the z-index doesn't work.*/
	}
	.desktop-navigation .menu-item-has-children.toggled-on > a::after {
		transform: rotate(180deg);
	}
	.desktop-navigation .sub-menu {
		position: absolute;
		top: -1.25em;
		left: 50%;
		transform: translateX(-50%);
		
		width: 15em;
		padding: 5em 0 1em;
		z-index: 100;
		border-radius: 0;
		border-top: 1px solid #e6e6e6;
		background: white;
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
		text-align: center;
		
		/* While hidden */
		visibility: hidden;
		opacity: 0;
		transition: all ease 0.25s;
	}
	.desktop-navigation .sub-menu.toggled-on {
		visibility: visible;
		opacity: 1;
	}
	/* Horizontal line between menu item and submenu. */
	.desktop-navigation .sub-menu::before {
		content: "";
		display: block;
		border-top: 1px solid #e6e6e6;
		padding-top: 1em;
	}
	.desktop-navigation .sub-menu.toggled-on .menu-item {
		border-radius: 0;
	}
	.desktop-navigation .sub-menu .menu-item:hover {
		background: transparent;
	} 
	.desktop-navigation .sub-menu .menu-item a {
		display: block; /* Make full width for bigger click zone */
	}
	.desktop-navigation .sub-menu .menu-item a:hover {
		color: black;
	}


/* Search and Cart buttons */
.desktop-header-buttons {
	display: none;
}
.header-button {
	display: inline-block;
	margin-left: 1em;
	min-width: 2em;
	font-size: 120%;
	text-decoration: none;
	
	border: none;
	background: transparent;
	cursor: pointer;
}
.header-button:hover,
.header-button:focus {
background: transparent;		
	text-decoration: none;
}
.header-button:first-of-type {
	margin-left: 0;
}

.cart-total-badge {
	position: relative;
	top: 0.15em;
	left: -0.25em;
	padding: 0.1em 0.48em 0.05em;
	border-radius: 10em;
	background: #98CB4F;
	color: white;
	font-weight: bold;
	font-size: 55%;
	line-height: 1;
}



/* Search interface */
.search-panel {
	/* Hidden by default, until user clicks the Menu button */
	visibility: hidden;
	position: absolute;
	top: -999em;
	opacity: 0;
	height: 0;
	transform: translateY(1.5em);
}
.search-panel.modal-is-open {
	visibility: visible;
	position: static;
	opacity: 1;
	height: auto;
	transform: translateY(0);
	transition: opacity ease 0.3s, transform ease 0.3s;
}
.search-panel form {
	display: flex;
	justify-content: stretch;
	margin: 28vh auto 0;
	max-width: 28em;
	padding: 0.75em 1.25em;
	
	border: none;
	border-radius: 1em;
	background: #e6e6e6;
	
	color: black;
	font-family: 'SAM Display';
	font-weight: lighter;
	font-size: 1.1em;
}
.search-panel label {
	flex: 1 1 auto;
}
.search-panel input.search-field[type=search] {
	width: 100%;
	padding: 0;
	border: none;
	background: transparent;
	color: black;
}
.search-panel input.search-field[type=search]:focus {
	outline: none;
}
.search-panel input.search-field[type=search]::placeholder {
	color: black;
}
.search-panel .search-submit {
	margin-left: 1em;
	padding: 0;
	border: none;
	background: transparent;
}

@media (min-width: 74em)
{
	.desktop-search-visible {
		visibility: visible;
		position: static;
		opacity: 1;
		height: 100vh;
		transform: translateY(0);
		transition: opacity ease 0.3s, transform ease 0.3s;
	}
}


/* Mobile Nav Bar - fixed at the bottom of the screen on mobile */
.mobile-nav-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 400;
	
	height: 3.5em; /* If you change this, change the body padding below. */
	
	display: flex;
	justify-content: stretch;
	align-items: center;
	
	overflow: hidden;
	
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
body { padding-bottom: 3.5em; } /* Make room for the nav bar */
.content-header { bottom: 3.5em; } /* Make room for the nav bar */

@media (min-width: 74em) {
	.mobile-nav-bar { display: none; }
	body { padding-bottom: 0; } /* On desktop we don't need space for nav bar */
}
.mobile-nav-bar-button {
	flex: 1 0 5em;
	margin: 0;
	padding: 0.5em 1em;
	text-decoration: none;
	text-align: center;
	border: none;
	border-left: 1px solid #e6e6e6;
	background: transparent;
	cursor: pointer;
}
.mobile-nav-bar-button:hover,
.mobile-nav-bar-button:focus {
	text-decoration: none;
}
.mobile-nav-bar-button:first-child { border: none; }
.mobile-nav-bar-button-icon {
	display: block;
	font-size: 1rem;
}
.mobile-nav-bar-button-text {
	display: block;
	font-size: 0.8rem;
}
.mobile-nav-bar-button.button-active {
	background: #e6e6e6;
}

/* Header Desktop Layout */
@media (min-width: 74em) {
	.site-header > .limit-width{
		/* max-width: 75em; */
		max-width: none;
		padding: 0 1.5em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header-logo {
		flex: 0 0 4em;
	}
	.main-navigation {
		flex: 0 0 auto;
		margin: 0 auto;
	}
	.menu { margin: 0; }
	.desktop-navigation {
		display: block;
	}
	.mobile-navigation {
		display: none;
	}
	.desktop-header-buttons {
		display: block;
	}
	.mobile-search {
		display: none;
	}
}

/* -----------------------------------------------------------------------------
 * Footer
 * ---------------------------------------------------------------------------*/

.site-footer {
	padding: 2.5em 0 3em;
	border-top: 0.5em #e6e6e6 solid;
	background: white;
	color: black;
}

.footer-business-name {
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	font-size: 125%;
	text-transform: lowercase;
}
.footer-business-name::after {
	content: '.';
}

.site-footer a { text-decoration: none; }
@supports(text-decoration-color: hsla(0, 0%, 0%, 0)) {
	.site-footer a { text-decoration-color: hsla(0, 0%, 0%, 0); }
}

.site-footer-section {
	max-width: 22em; /* To prevent awkwardly long lines of text */
}

.social-logos {
	display: flex;
	justify-content: flex-start;
	margin: 2.25em 0 0;
	padding: 0;
	list-style: none;
}
.social-logo {
	margin: 0 0.75em;
}
.social-logo:first-of-type { margin-left: 0; }
.social-logo:last-of-type { margin-right: 0; }

.social-logo-link { display: block; }
.social-logo-link:hover,
.social-logo-link:focus {
	background: transparent;
}
.social-logo-link img { display: block; }

@media (min-width: 41em) {
	.site-footer-sections {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	.site-footer-section {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 22em;
	}
	.site-footer-section > :first-child { margin-top: 0; }
	.site-footer-section > :last-child { margin-bottom: 0; }
	.footer-address-and-contact > :first-child { margin-top: 0; }
	.footer-address-and-contact > :last-child { margin-bottom: 0; }
	
	.site-footer-section-links {
		display: flex; /* Line up the social logos with the bottom of the text*/
		flex-direction: column;
		justify-content: space-between;
		
		margin-top: 0.2em;
		text-align: right;
	}
	.site-footer-section-links .social-logos {
		justify-content: flex-end;
	}
}
@media (min-width: 75em) {
	.site-footer .limit-width {
		max-width: none;
	}
	.site-footer-sections {
		flex-wrap: wrap;
	}
	.site-footer-section {
		flex-grow: 1;
		flex-basis: 100%;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.site-footer-section-info > * {
		margin: 0;
		max-width: 20em;
	}
	.site-footer-section-info > *:last-child {
		font-size: 100%;
		text-align: right;
	}
	.site-footer-section-links {
		text-align: left;
		flex-direction: row;
		align-items: center;
		
		margin: 2.5em 0 0;
		padding: 1.25em 0 0;
		border-top: 1px solid #e6e6e6;
	}
	.footer-links a {
		margin-right: 1.5em;
	}
	.site-footer-section-links br {
		display: none;
	}
	.site-footer-section-links > * {
		margin: 0;
	}
}

/* -----------------------------------------------------------------------------
 * Home Page
 * ---------------------------------------------------------------------------*/

.promotions {
	margin: 0;
	padding: 0;
	list-style: none;
}
.promotion {
	background: #e6e6e6;
}
.promotion + .promotion {
	margin-top: 0.5em;
}
.promotion-link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.promotion-link:hover,
.promotion-link:focus {
	text-decoration: none;
}
.promotion-image {
	display: block;
	min-width: 10em;
	min-height: 20em;
	background-size: cover;
	background-position: 50% 30%;
}
.promotion-details {
	padding: 1.5em;
}
.promotion-details-inner {
	max-width: 21em; /* Limit line length */
	display: inline-block;
}
.promotion-title {
	margin: 0;
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	text-transform: lowercase;
	font-size: 150%;
	line-height: 1.05;
}
.promotion-sub-title {
	margin: 0.25em 0 0;
	line-height: 1.25;
	font-size: 110%;
	font-weight: bold;
}
.promotion-description {
	margin: 1em 0 0;
	font-size: 65%;
	line-height: 1.25;
}
.promotion-description p:first-child { margin-top: 0; }
.promotion-description p:last-child { margin-bottom: 0; }

@media (min-width: 45em) {
	/* Layout within each item */
	.promotion .promotion-link {
		display: flex;
		align-items: flex-end;
	}
	.promotion .promotion-image {
		flex: 1 1 62%;
		align-self: stretch;
	}
	.promotion .promotion-details {
		flex: 1 1 38%;
	}
	.promotion .promotion-title {
		margin-top: 3em;
	}
	
	.promotion:nth-of-type(2n) .promotion-details {
		order: -1;
		text-align: right;
	}
}
@media (min-width: 65em) {
	.promotion-image { min-height: 25em; }
	.promotion-title { font-size: 200%; }
	
	/* Layout of items */
	.promotions {
		display: flex;
		flex-wrap: wrap;
	}
	.promotion {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: calc(33% - 0.5em);
		margin-right: 0.5em;
	}
	.promotion:nth-of-type(3n - 1) {
		flex-basis: calc(33% - 0.5em - 0.5em);
		margin-left: 0.5em;
	}
	
	.promotion .promotion-link {
		display: block; /* Turn off flex inside each item */
	}
	.promotion .promotion-title {
		margin-top: 0;
	}
	.promotion:nth-of-type(1) {
		flex-basis: 100%;
		margin: 0;
	}
	.promotion:nth-of-type(1) .promotion-link { display: flex; }
	.promotion:nth-of-type(1) .promotion-image { min-height: 35em; }
	
	/* Swap the order of the text and image on every second item */
	.promotion:nth-of-type(2n) .promotion-link {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	.promotion:nth-of-type(2n) .promotion-details {
		order: 0;
		text-align: left;
	}
}
@media (min-width: 80em) {
	.promotion:nth-of-type(1) .promotion-title { font-size: 250%; }
	.promotion:nth-of-type(2) .promotion-title,
	.promotion:nth-of-type(3) .promotion-title { font-size: 225%; }
}
@media (min-width: 92em) {
	.promotion-details-inner { max-width: 26em; }
	.promotion:nth-of-type(1) .promotion-title { font-size: 350%; }
}



/* Upcoming Events */
.events-home {
	padding: 1.5em;
	text-align: center;
}
.events-home h2 {
	margin: 0.75em 0 0.75em;
}
.events-home .tribe-events-widget-link { display: none; }
.events-home .button {
	margin: 1.5em auto;
}
.event-items {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}
.type-tribe_events {
	margin: 0 0 1.5em;
}
@media(min-width: 27em) {
	.event-items {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.home .type-tribe_events {
		flex-grow: 0; /* IE can't handle calc() in shorthand flex */
		flex-shrink: 0;
		flex-basis: calc(50% - 0.25em);
		margin: 0 0.5em 1.5em 0;
	}
	.home .type-tribe_events:nth-of-type(2n) { margin-right: 0; }
}
@media(min-width: 50em) {
	.home .type-tribe_events,
	.home .type-tribe_events:nth-of-type(2n) {
		flex-basis: calc(33.33% - (0.5em * (2/3)));
		margin-right: 0.5em;
	}
	.home .type-tribe_events:nth-of-type(3n) { margin-right: 0; }
}
.event-item-link {
	display: block;
	height: 100%;
	/* background: white; */
	text-decoration: none;
	/* transition: box-shadow 0.3s; */
}
.event-item-link:hover,
.event-item-link:focus {
	text-decoration: none;
	background: transparent;
	/* box-shadow: 0 0.25em 1.5em hsla(0, 0%, 0%, 0.2); */
}
.event-item-image {
	min-height: 12em;
	padding-top: 56.25%; /* 16:9 (16 divided by 9) */
	margin: 0 0 0.75em;
	background-color: #bebebe;
	background-size: cover;
	background-position: 50% 35%;
}
.event-item-image[data-use-fallback] {
	background: #bebebe url('images/sam-logo-black.svg');
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;
}
.event-item-details {
	/* padding: 1.5em; */
}
.event-item-title {
	display: block;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 120%;
	line-height: 1.25;
}
.event-item-date {
	display: block;
	margin: 0.5em 0 0;
	font-size: 90%;
	line-height: 1.25;
}




/* Latest News */
.latest-news {
	padding: 1.5em;
	border-top: 0.5em solid white;
	background: #e6e6e6;
	text-align: center;
}
.latest-news h2 {
	margin: 0.75em 0 0.75em;
}
.news-items {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}
.news-item {
	margin: 0 0 0.5em;
}
@media(min-width: 27em) {
	.news-items {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.news-item {
		flex-grow: 0; /* IE can't handle calc() in shorthand flex */
		flex-shrink: 0;
		flex-basis: calc(50% - 0.25em);
		margin: 0 0.5em 0.5em 0;
	}
	.news-item:nth-of-type(2n) { margin-right: 0; }
}
/* @media(min-width: 35em) {
	.news-items {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.news-item {
		flex-grow: 0; /* IE can't handle calc() in shorthand flex *
		flex-shrink: 0;
		flex-basis: calc(50% - 0.75em);
		margin: 0 1.5em 1.5em 0;
	}
	.news-item:nth-of-type(2n) { margin-right: 0; }
} */
@media(min-width: 50em) {
	.news-item,
	.news-item:nth-of-type(2n) {
		flex-basis: calc(33.33% - (0.5em * (2/3)));
		margin-right: 0.5em;
	}
	.news-item:nth-of-type(3n) { margin-right: 0; }
}
.news-item-link {
	display: block;
	height: 100%;
	background: white;
	text-decoration: none;
	transition: box-shadow 0.3s;
}
.news-item-link:hover,
.news-item-link:focus {
	text-decoration: none;
	background: white;
	box-shadow: 0 0.25em 1.5em hsla(0, 0%, 0%, 0.2);
}
.news-item-image {
	min-height: 12em;
	background-color: #bebebe;
	background-size: cover;
	background-position: 50% 35%;
}
.news-item-image[data-use-fallback] {
	background: #bebebe url('images/sam-logo-black.svg');
	background-size: 40%;
	background-position: center;
	background-repeat: no-repeat;
}
.news-item-details {
	padding: 1.5em;
}
.news-item-title {
	display: block;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 120%;
	line-height: 1.25;
}
.news-item-date {
	display: block;
	margin: 0.5em 0 0;
	font-size: 90%;
	line-height: 1.25;
}
.latest-news .button {
	margin: 1.5em auto;
}


/* Follow Us on Social Media, Become a Member, Subscribe */
.home-sections {
	border-top: 0.5em solid #e6e6e6;
}
.home-section {
	padding: 3em 0;
	border-bottom: 0.5em solid #e6e6e6;
	text-align: center;
}
.home-section:last-of-type {
	border: none;
}
.home-section div > :first-child { margin-top: 0; }
.home-section div > :last-child { margin-bottom: 0; }
.follow-us .social-logos {
	justify-content: center;
}
/* .become-a-member p:first-of-type {
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 125%;
} */
@supports(display: grid) {
	@media (min-width: 45em) {
		.home-sections {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: 50% 50%;
		}
		.home-section {
			display: flex; /* Flex is just for vertical centering of content */
			align-items: center;
			border: none;
		}
		.become-a-member {
			order: -1;
			grid-row: span 2;
			background: black;
			color: white;
		}
		.become-a-member .button {
			background: white;
		}
		.follow-us {
			/* border-bottom: 0.5em solid #e6e6e6; */
			border-bottom: 1px solid #e6e6e6;
		}
		.home-section .limit-width {
			max-width: 32em;
			padding: 0 3em;
		}
	}
}

.home-page-logos {
	padding: 3em 0;
	border-top: 0.5em #e6e6e6 solid;
	text-align: center;
}
@media (min-width: 60em) {
	.home-page-logos { padding: 4.5em 0; }
}
@media (min-width: 80em) {
	.home-page-logos { padding: 6em 0; }
}

/* -----------------------------------------------------------------------------
 * Content
 * ---------------------------------------------------------------------------*/

.storefront-breadcrumb { display: none; }

/* .site-content { background: gray; opacity: 0.25; } hide for now */

/* Content is focusable for keyboard navigation / screen readers, but the
outline looks a bit ugly. */
#content:focus { outline: none; }

.content-main-image {
	background: #878787;
}
.content-main-image img {
	display: block;
	width: 100%;
	max-width: 175em; /* Limit just in case people have gigantic screens */
	margin: 0 auto;
}

.content-header {
	padding: 3em 0;
	background: black;
	color: white;
	text-align: center;
}
/* Make content header stick to the bottom of the screen so that it's always
visible on page load, even if the hero image of the page is taller than the
screen. */
.content-header {
	position: sticky;
	/* This is set in the .mobile-nav-bar section as the value is dependent on
	the height of the mobile nav bar. */
	/* bottom: 3.5em; */ 
}
@media (min-width: 74em) 
{
	.content-header { bottom: 0; }
}

.content-heading {
	margin: 0;
	line-height: 1.1;
	font-family: 'SAM Display';
	font-weight: bolder;
	text-transform: lowercase;
}
.content-subheading {
	margin: 0.5em 0 0;
	line-height: 1.1;
	font-family: 'SAM Display';
	font-weight: lighter;
	text-transform: none;
}
@media (min-width: 40em) {
	.content-heading { font-size: 2rem; }
}
@media (min-width: 60em) {
	.content-heading { font-size: 3rem; }
}

/* Main Image and Page Heading side-by-side layout */
@media (min-width: 50em) {
	.site-main.has-main-image {
		display: flex;
		flex-wrap: wrap;
	}
	.site-main.has-main-image .content-main-image {
		flex: 1 1 60%;
	}
	.site-main.has-main-image .content-header {
		flex: 1 1 36%; /* IE glitches if the percentages add to exactly 100% */
		padding: 1.5em;
		/* Position the text at the bottom */
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: left;
	}
	.site-main.has-main-image .content-header .limit-width {
		max-width: 28em;
		margin: 0;
		padding: 0 3em 0 0;
	}
	.site-main.has-main-image .content-body-outer {
		flex: 1 0 100%; /* Keep the content on its own. */
	}
}

.content-body {
	/* Don't collapse margins between the bottom of the content and the footer. */
	overflow-y: hidden;
}

@media (min-width: 45em)
{
	.content-body-outer {
		padding: 3em 0;
	}
	.content-body > :first-child {
		margin-top: 0;
	}
	.content-body > :last-child {
		margin-bottom: 0;
	}
	.content-body { /* Might have to turn on columns only where appropriate */
		/* columns: 2; */
		/* column-gap: 3em; */
		/* column-rule: 0.25em solid #e6e6e6; */
	}	
}
@media (min-width: 55em)
{
	.content-body-outer {
		padding: 4.5em 0;
	}
	.content-body {
		column-gap: 4.5em;
	}	
}

.post-date {
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 125%;
}


/* -----------------------------------------------------------------------------
 * Alert Boxes
 * ---------------------------------------------------------------------------*/
.alert,
.has-background {
	display: block;
	margin: 1.5em 0;
	padding: 1.5em !important;
	background: #e6e6e6;
}

/* -----------------------------------------------------------------------------
 * File Downloads
 * ---------------------------------------------------------------------------*/

.wp-block-file a {
	display: block;
	position: relative;
	padding-left: 1.5em; /* Make room for icon */
	font-size: 120%;
	font-weight: bold;
	line-height: 1.3;
}
/* Icon */
.wp-block-file a::before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	line-height: inherit;
	vertical-align: baseline;
	content: "\f15b";
	margin-right: 0.5em;
	
	position: absolute;
	left: 0;
	top: 0;
}
.wp-block-file .wp-block-file__button {
	display: none;
}


/* -----------------------------------------------------------------------------
 * What's On
 * ---------------------------------------------------------------------------*/

/* This is required by the Events Calendar plugins. */
.tribe-common .tribe-common-a11y-hidden {
    display: none !important;
    visibility: hidden;
}

.whats-on .content-header {
	text-align: center;
}

.whats-on .content-body-outer .limit-width {
	max-width: none;
	padding: 0 1.5em;
}

.whats-on .content-body-outer {
	padding: 1.5em 0;
}

.whats-on .tribe-common .tribe-common-l-container {
	max-width: none;
	margin: 0;
	padding: 0;
}
.whats-on .content-body {
	overflow-y: visible;
}

.whats-on .type-tribe_events [class*="featured-image-link"] {
	display: block;
	height: 100%;
	overflow: hidden;
}
.whats-on .type-tribe_events [class*="featured-image-link"] img {
	display: block;
}
@supports(object-fit: cover) {
	.tribe-events-pro-photo__event-featured-image-wrapper {
		/* height: 13em; */
	}
	.whats-on .type-tribe_events [class*="featured-image-link"] {
		padding-top: 56.25%; /* 16:9 (16 divided by 9) */
		position: relative; /* We need to absolutely position the child <img> */
	}
	.whats-on .type-tribe_events [class*="featured-image-link"] img {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover; /* Doesn't work in IE, so images may not be uniform */
		object-position: 50% 30%; /* Crop towards the top of the image */
	}
}
.whats-on .type-tribe_events [class*="event-details-wrapper"] {
	margin-top: 0.75em;
}
.tribe-events-pro-photo__event-date-tag {
	display: none;
}
.whats-on [class*="event-title-link"] {
	text-decoration: none;
}
.whats-on .type-tribe_events [class*="event-title"] {
	margin: 0;
	font-family: 'SAM Display', sans-serif !important;
	font-weight: lighter;
	font-size: 1.2rem;
	line-height: 1.25;
}

.tribe-events-pro-photo__event-details {
	display: flex;
	flex-direction: column;
}
.tribe-events *:not(.tribe-events-pro-photo__event-title *):not(.dashicons) {
	font-family: 'Nunito Sans', sans-serif;
}
.tribe-events .tribe-events-pro-photo__event-datetime {
	order: 1;
	margin: 0.5em 0 0;
	font-size: 90%;
	line-height: 1.25;
}
.whats-on .event-times { display: none; }
.whats-on .tribe-events-c-small-cta__price { display: none; }
.whats-on  .tribe-events-pro-photo__event-cost { display: none; }





.tribe-events .tribe-events-header {}
.tribe-events-c-messages__message-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tribe-events-c-messages__message-list-item {
	margin: 0 0 1.5em;
	padding: 1.5em;
	background: #e6e6e6;
	text-align: center;
}

/* Just hiding the header (date, keyword search and calendar view options)
   completely for now. Preferably these would be part of the filter bar. Might
   be possible to move them in the template, but I don't have time right now. */
.tribe-events .tribe-events-header__events-bar { display: none; }
.tribe-events .tribe-events-header__top-bar { display: none; }



/* Filters */


/* Show Filters button (only visible on mobile) */
.tribe_events_filters_show_filters {
	display: block;
	margin: 0 auto 1.5em;
	padding: 0.25em 1.4em 0.2em;
	border: 2px solid transparent; /* Used for focus state below */
	border-radius: 0.8em;
	background: #e6e6e6;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
	font-size: 0.9rem;
	line-height: 1.1;
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	text-transform: lowercase;
	text-decoration: none;
	cursor: pointer;
	transition: box-shadow 0.05s, transform 0.05s;
}
.tribe_events_filters_show_filters:focus {
	outline: none; /* We set our own below using border */
	border: 2px solid hsla(0, 0%, 50%, 0.5);
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.tribe_events_filters_show_filters:active {
	transform: translateY(0.05em);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.tribe-filters-open .tribe_events_filters_show_filters {
	display: none;
}

.tribe-filter-bar__form {
	/* margin: 0 0 1.5em; */
	margin: -1.5em -1.5em  1.5em;
	padding: 1.5em;
	background: #e6e6e6;
	display: flex;
	flex-direction: column;
}
.tribe-filter-bar__actions {
	order: 2;
	margin-top: 0.75em;
	
	/* Don't think we actually need this since filters update with ajax. */
	display: none;
}
.tribe-filters-closed .tribe-filter-bar__form {
	display: none;
}


/* Ajax loading */
.tribe-events-view-loader {
	background: hsla(0, 0%, 100%, 0.85);
	backdrop-filter: blur(10px);
	padding: 10px;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tribe-events-view-loader::after {
	content: 'Loading...';
	font-family: 'SAM Display';
	font-weight: bolder;
	text-transform: lowercase;
}
.tribe-common-a11y-visual-hide,
.tribe-common-a11y-hidden { display: none; }

.tribe-filter-bar__form-description { display: none; }
.tribe-events-filters-label:first-of-type {
	display: none;
}

.tribe-filter-bar__selected-filters { display: none; }

.tribe-filter-bar-c-clear-button { display: none; }

.tribe_events_filter_item {
	margin: 0 0 1.5em;
	padding: 0;
	border: none;
}

.tribe-events-filters-label,
.tribe-filter-bar-c-filter__toggle,
.tribe-filter-bar-c-filter__toggle:hover,
.tribe-filter-bar-c-filter__toggle:focus {
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
	cursor: default;
	
	margin: 0 0 0.5em;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 1.1rem;
}

/* Each filtering variable (e.g. category, cost) is collapsed by default. This
   will make them always open and disable the collapse/expand functionality. */
.tribe-filter-bar-c-filter__container {
	display: block; /* This element is the "body" of each filtering variable. */
}
 /* It shows the currently selected value next to the heading - don't need */
.tribe-filter-status { display: none; }
.tribe-filter-bar-c-filter__toggle-label-colon { display: none; }
.tribe-filter-bar-c-filter__toggle-selections-count { display: none; }
.tribe-filter-bar-c-filter__toggle-selections { display: none; }

.tribe-filter-bar-c-filter__toggle-icon { display: none; }

.tribe-filter-bar-c-filter__filters-fieldset {
	margin: 0 0 0.75em;
	padding: 0;
	border: none;
}
.tribe-filter-bar-c-filter__filter-fields .tribe-filter-bar-c-checkbox  {
	margin: 0 0 0.5em;
	list-style: none;
	
	display: flex;
	align-items: start;
}
.tribe-filter-bar-c-filter__filter-fields input {
	margin-top: 0.25em;
}
.tribe-filter-bar-c-filter__filter-fields label {
	line-height: 1.25;
	cursor: pointer;
}


.tribe-filter-bar__action-done {
	/* display: inline-block; */
	/* height: auto; */
	margin: 0;
	padding: 0.5em 1.4em 0.39em;
	border: 2px solid transparent; /* Used for focus state below */
	border-radius: 1em;
	background: white;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
	color: black;
	font-size: 1rem;
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	text-transform: lowercase;
	text-decoration: none;
	cursor: pointer;
	transition: box-shadow 0.05s, transform 0.05s;
}
.tribe-filter-bar__action-done:focus {
	outline: none; /* We set our own below using border */
	border: 2px solid hsla(0, 0%, 50%, 0.5);
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.tribe-filter-bar__action-done:active {
	transform: translateY(0.05em);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

/* Hide reset button - we don't have that many filters so it's not hard to reset
   them manually, and it looks cleaner without the button */
.tribe_events_filters_reset {
	display: none;
}

.tribe-events-filters-mobile-controls {
	display: none;
}


/* Filter form horizontal layout */
@media (min-width: 40em) {
	.tribe-filter-bar__form {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	.tribe-filter-bar__filters-container {
		flex: 0 1 70em;
	}
	.tribe-filter-bar__filters {
		display: flex;
	}
	.tribe-filter-bar__actions {
		flex-basis: auto;
		align-self: center;
	}
	.tribe-filter-bar-c-filter {
		flex: 1 1 35em;
		margin: 0;
	}
	
	.tribe-filter-bar-c-filter__filter-fields {
		display: flex;
		flex-wrap: wrap;
	}
	.tribe-filter-bar-c-filter__filters-fieldset {
		margin-bottom: 0;
	}
	.tribe-filter-bar-c-filter__filter-fields .tribe-filter-bar-c-checkbox {
		margin: 0 1em 0.5em 0;
	}
}


.tribe-events .tribe-events-c-ical__link { display: none; }
 /* Pagination not needed - we've set the items per page to a large value */
.tribe-events .tribe-events-c-nav { display: none; }



/* What's On layout (larger screens) */
@media (min-width: 40em) {
	/* Filters / Events Container 
	.whats-on .tribe-common-l-container {
		display: -ms-grid;
		display: grid;
		
		-ms-grid-columns: 13em 1fr;
		grid-template-columns: 13em 1fr;
	}
	#tribe_events_filters_wrapper {
		-ms-grid-column: 1;
		margin-right: 1.5em;
	}
	.tribe-events-pro-photo {
		-ms-grid-column: 2;
	}*/
	
	/* Events grid */
	.tribe-events-pro-photo .tribe-common-g-row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -1.5em;
	}
	.tribe-events-pro-photo__event {
		flex-basis: calc((99.999% / 2) - 1.5em); /* 2 columns */
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 1.5em;
	}
}
@media (min-width: 60em) {
	.tribe-events-pro-photo__event {
		flex-basis: calc((99.999% / 3) - 1.5em); /* 3 columns */
	}
}
@media (min-width: 80em) {
	.tribe-events-pro-photo__event {
		flex-basis: calc((99.999% / 4) - 1.5em); /* 4 columns */
	}
}

/* -----------------------------------------------------------------------------
 * Single Event Pages
 * ---------------------------------------------------------------------------*/
.tribe-events-back { display: none; }

 /* We show the title elsewhere, in the page header, so we don't need this */
.tribe-events-single-event-title { display: none; }

/* "Recurring Event" */
.tribe-events-single-event-recurrence-description img {
	max-width: 0.75em;
	vertical-align: middle;
	margin-right: 0.2em;
}
.tribe-events-single-event-recurrence-description a {
	margin-left: 0.2em;
	text-transform: capitalize;
}


/* Event Date(s) */
.tribe-events-schedule {
	margin: 1.5em 0;
}
.tribe-events-schedule .tribe-events-schedule__datetime,
.tribe-events-schedule__date,
.tribe-events-schedule__time,
.tribe-events-schedule__separator {
	color: black;
	font-size: 1.2rem;
	font-family: 'Nunito Sans', sans-serif;
	text-transform: none;
}

.tribe-block__event-price {
	margin: 1.5em 0;
}

.tribe-block__venue__meta {
	padding: 1.5em;
	background: #e6e6e6;
}
.tribe-block__venue__meta :first-child { margin-top: 0; }
.tribe-block__venue__meta :last-child { margin-bottom: 0 !important; }

.tribe-block__venue .tribe-block__venue__meta .tribe-block__venue__name h3 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1rem;
}
.tribe-block__venue .tribe-block__venue__meta .tribe-block__venue__name h3 a {
	text-decoration: none;
	cursor: default;
}
.tribe-block__venue .tribe-block__venue__meta .tribe-block__venue__address abbr{
	text-decoration: none;
}
.tribe-block__venue .tribe-block__venue__meta .tribe-block__venue__address
	.tribe-events-gmap {
		display: none; /* Don't need this link if we're embeding the map */
}

.tribe-block__venue {
	display: block;
	margin: 1.5em 0;
}
.tribe-block__venue.tribe-block__venue--has-map .tribe-block__venue__map,
.tribe-block__venue.tribe-block__venue--has-map .tribe-block__venue__meta {
	width: 100%;
	flex-basis: 100%;
	flex-shrink: 0;
}

/* Google Calendar and iCal export links */
.tribe-block__events-gcal a,
.tribe-block__events-ical a,
.tribe-block__-events-ical a { /* Their class must have a typo */
	text-decoration: none;
}

.tribe-events-meta-group-details abbr {
	text-decoration: none;
}

/* Related Events */
.tribe-block__related-events__title {
	margin: 4.5em 0 1.5rem;
}
.tribe-related-events {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tribe-related-events > li {
	margin: 0 0 1.5em;
}
@media (min-width: 38em) {
	.tribe-related-events {
		display: flex;
		/* margin-right: -1.5em; */
		overflow: hidden;
	}
	.tribe-related-events > li {
		flex-basis: calc(50% - 1.5em/2);
		margin-right: 1.5em;
	}
	.tribe-related-events > li:nth-child(2n) {
		margin-right: 0;
	}
}
.tribe-related-events-thumbnail a {
	display: block;
}
.tribe-related-events-thumbnail img { display: block; }
@supports (object-fit: cover) {
	.tribe-related-events-thumbnail img {
		object-fit: cover;
		object-position: 50% 30%;
		width: 100%;
		height: 13em;
	}
}
.tribe-related-events-title {
	margin: 0.5em 0 0.2em;
}
.tribe-related-events-title a {
	text-decoration: none;
}
.event-is-recurring {
	color: #878787;
}
.event-is-recurring .tribe-events-divider {
	display: inline-block;
	margin: 0 0.5em;
	color: #bebebe;
}
.event-is-recurring a { display: none; }

/* Previous and Next Event links */
#tribe-events-footer { display: none; }


/* Buy Tickets */
.type-tribe_events .tribe-tickets {
	max-width: none;
	padding: 0.5em;
	background: #e6e6e6;
	border: none;
	border-radius: 0;
	/* box-shadow: 0 0.125em 0.2em rgba(0, 0, 0, 0.2); */
}
.type-tribe_events .tribe-tickets__title {
	margin: 0.6em 0 0.7em;
	font-size: 175%;
	text-align: center;
}
.type-tribe_events .tribe-tickets .tribe-tickets__item {
	margin: 0 0 0.5em;
	padding: 1.5em;
	border: none;
	/* border-radius: 2.5em; */
	background: white;
}

.type-tribe_events .tribe-tickets .tribe-tickets__item__content__title {
	margin: 0 0 0.5em;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 120%;
	line-height: 1.2;
}

.type-tribe_events .tribe-tickets__item__quantity button {
	width: auto;
	min-width: 1em;
	align-self: flex-start;
	border: none;
	cursor: pointer;
	font-weight: bold;
	color: #4e4e4e;
}
.type-tribe_events .tribe-tickets__item__quantity__number {
	padding: 0.15em 0.35em 0;
	/* height: auto; */
	min-width: 40px;
	background: #e6e6e6;
	border-radius: 45%;
	font-weight: bold;
	font-size: 115%;
} 

/* Get rid of the whitespace between '$' and the price. */
.type-tribe_events .tribe-formatted-currency-wrap {
	display: inline-flex;
}
.type-tribe_events .tribe-tickets__item__extra__available {
	padding-left: 1em;
}
.type-tribe_events .tribe-tickets__item__details__summary--more,
.type-tribe_events .tribe-tickets__item__details__summary--less {
	border: none;
	text-decoration: underline;
}
.type-tribe_events .tribe-tickets__item__details__content {
	margin: 1em 0 0.5em;
}
.type-tribe_events .tribe-tickets-attendees-list-optout--wrapper {
	/* Just leave the opt-out box ticked and don't confuse the user. */
	display: none !important;
	/* margin-top: 1em; */
}
.type-tribe_events .tribe-tickets__footer {
	padding: 1em 0;
	justify-content: center;
}
.type-tribe_events .tribe-tickets__footer__total {
	margin-right: 1.5em;
}
.type-tribe_events .tribe-tickets__buy {
	display: inline-block;
	margin: 0.25em 0 !important;
	padding: 0.5em 1.4em 0.39em;
	border: 2px solid transparent; /* Used for focus state below */
	border-radius: 1em;
	background: #41BA7C !important;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	font-size: 110%;
	line-height: 1.1;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	cursor: pointer;
	transition: box-shadow 0.05s, transform 0.05s;
}
.type-tribe_events .tribe-tickets__buy:focus {
	outline: none; /* We set our own below using border */
	border: 2px solid hsla(0, 0%, 50%, 0.5);
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.type-tribe_events .tribe-tickets__buy:active {
	transform: translateY(0.05em);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.type-tribe_events .tribe-tickets__buy[disabled] {
	opacity: 0.5;
	box-shadow: none;
	cursor: default;
}
.type-tribe_events .tribe-tickets__buy[disabled]:active {
	transform: none;
}

@media (min-width: 768px) {
	.type-tribe_events .tribe-common .tribe-tickets__item {
		-ms-grid-columns: 5fr auto auto;
		grid-template-columns: 5fr auto auto;
		-ms-grid-rows: 1fr 1.5fr 1fr
	}
	.type-tribe_events .tribe-tickets .tribe-tickets__item__content__title {
		margin-bottom: 0;
	}
	.type-tribe_events .tribe-tickets__item__extra__available {
		padding-left: 0.5em;
	}
	.type-tribe_events .tribe-tickets__item__quantity {
		margin-left: 1em;
	}
}




/* RSVP (basically what you see instead of 'Buy Tickets' if event is free) */
.tribe-block__rsvp {
	max-width: none !important;
	background: #e6e6e6;
}
.tribe-block__rsvp__ticket {
	display: block !important; /* Override their weird flex layout */
}

.tribe-block__rsvp * {
	font-family: 'Nunito Sans', sans-serif;
}
/* This "icon" is the heading */
.tribe-block__rsvp__icon.tribe-block__rsvp__icon { /* Need extra specificity */
	display: block;
	width: 100%;
	margin: 0.6em 0 0.7em;
	padding: 0;
	border: none;
	background: transparent;
	text-align: center;
	color: black;
	font-family: 'SAM Display', sans-serif;
	text-transform: lowercase;
	font-size: 175%;
	line-height: 1.2;
	
	
}
.tribe-block__rsvp__icon::after { content: '.'; } /* Headings end with a dot */
.tribe-block__rsvp__icon svg { display: none; }
.tribe-block__rsvp__content.tribe-block__rsvp__content {
	/* Need extra specificity */
	padding: 0 0.5em;
	background: transparent;
	text-align: center;
}
.tribe-block__rsvp__details.tribe-block__rsvp__details {
	/* Need extra specificity */
	margin: 0 0 1.5em;
	padding: 1em;
	background: white;
}
.tribe-block__rsvp__title.tribe-block__rsvp__title {
	margin: 0;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 1.25rem;
	line-height: 1.2;
}
.tribe-block__rsvp__description.tribe-block__rsvp__description {
	/* display: none; */
	margin: 0;
	font-size: 1rem;
	color: black;
}
.tribe-block__rsvp__description.tribe-block__rsvp__description p {
	margin: 0.75em 0;
}
.tribe-block__rsvp__availability.tribe-block__rsvp__availability {
	display: block;
	margin: 0;
	font-size: 1rem;
	color: black;
}
.tribe-block__rsvp__quantity.tribe-block__rsvp__quantity {
	display: inline-block;
	margin-top: 0.5em;
	margin-right: 0;
}

.tribe-block__rsvp__status {
	justify-content: center;
}
.tribe-block__rsvp__status-button.tribe-block__rsvp__status-button {
	display: inline-block;
	width: auto;
	margin: 0.25em 0;
	padding: 0.5em 1.4em 0.39em;
	border: 2px solid transparent !important; /* Used for focus state below */
	border-radius: 1em;
	background: white;
	color: black;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	font-size: 110%;
	line-height: 1.1;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	cursor: pointer;
	transition: box-shadow 0.05s, transform 0.05s;
}
.tribe-block__rsvp__status-button span {
	font-family: 'SAM Display', sans-serif;
}
.tribe-block__rsvp__status-button svg { display: none; }
.tribe-block__rsvp__status-button.tribe-block__rsvp__status-button:focus {
	outline: none; /* We set our own below using border */
	border: 2px solid hsla(0, 0%, 50%, 0.5) !important;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.tribe-block__rsvp__status-button.tribe-block__rsvp__status-button:active {
	transform: translateY(0.05em);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.tribe-block__rsvp__status-button.tribe-block__rsvp__status-button[disabled] {
	opacity: 0.5;
	box-shadow: none;
	cursor: default;
}
.tribe-block__rsvp__status-button.tribe-block__rsvp__status-button[disabled]:active {
	transform: none;
}

.tribe-block__rsvp__form form {
	border-top: 1px solid #878787 !important;
}
.tribe-block__rsvp__number-input-button {
	border: none;
	cursor: pointer;
}
.tribe-block__rsvp__form .tribe-tickets-quantity.tribe-tickets-quantity {
	margin: 0 0.25em;
	background: white;
}
.tribe-block__rsvp__form input[type=text],
.tribe-block__rsvp__form input[type=email] {
	font-family: 'Nunito Sans', sans-serif !important;
}

.tribe-block__rsvp__submit-button.tribe-block__rsvp__submit-button {
	display: inline-block;
	
	width: auto;
	margin: 0.25em 0;
	padding: 0.5em 1.4em 0.39em;
	border: 2px solid transparent !important; /* Used for focus state below */
	border-radius: 1em;
	background: white !important;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
	color: black;
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	font-size: 110%;
	line-height: 1.1;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	cursor: pointer;
	transition: box-shadow 0.05s, transform 0.05s;
}
.tribe-block__rsvp__submit-button span {
	font-family: 'SAM Display', sans-serif;
}
.tribe-block__rsvp__submit-button svg { display: none; }
.tribe-block__rsvp__submit-button.tribe-block__rsvp__submit-button:focus {
	outline: none; /* We set our own below using border */
	border: 2px solid hsla(0, 0%, 50%, 0.5) !important;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.tribe-block__rsvp__submit-button.tribe-block__rsvp__submit-button:hover {
	background: white !important;
}
.tribe-block__rsvp__submit-button.tribe-block__rsvp__submit-button:active {
	transform: translateY(0.05em);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.tribe-block__rsvp__submit-button.tribe-block__rsvp__submit-button[disabled] {
	opacity: 0.5;
	box-shadow: none;
	cursor: default;
}
.tribe-block__rsvp__submit-button.tribe-block__rsvp__submit-button[disabled]:active {
	transform: none;
}

/* -----------------------------------------------------------------------------
 * Event Attendee Registration page
 * (if ticket purchasers need to fill in any custom fields for the event)
 * ---------------------------------------------------------------------------*/
.tribe-tickets__registration__page-title {
	display: none; /* The theme already includes the page title. */
}

/* Back to cart link */
.tribe-tickets__registration__actions {
	margin: 1.5em 0 !important;
}

/* Layout fix for IE (the default Tribe styles don't include the ms-grid
prefixes) */
@media (min-width: 960px) {
	body.page-tribe-attendee-registration .tribe-common
		.tribe-tickets__registration__grid {
		display: -ms-grid;
		-ms-grid-columns: calc(100% - 360px) 360px;
	}
	body.page-tribe-attendee-registration .tribe-common
		.tribe-tickets__mini-cart {
		-ms-grid-column: 2;
	}
	body.page-tribe-attendee-registration .tribe-common
		.tribe-tickets__registration__content {
		-ms-grid-column: 1;
	}
}

/* Cart summary table */
.tribe-tickets__mini-cart {
	padding: 1.5em;
	background: #e6e6e6 !important;
	border-radius: 0 !important;
}
.tribe-tickets__mini-cart__title {
	margin-top: 0;
}
.tribe-tickets__mini-cart .tribe-tickets__item:first-of-type {
	border-top: 1px solid #878787;
	padding-top: 1em;
}
.tribe-tickets__mini-cart .tribe-tickets__item {
	margin: 0 0 1em;
	padding: 0 0 1em;
	border-bottom: 1px solid #878787;
	line-height: 1.2;
	
	display: flex;
	align-items: center;
}
.tribe-tickets__mini-cart .tribe-tickets__item__content__title {
	margin-right: 1em;
	flex-grow: 1;
}
.tribe-tickets__mini-cart .tribe-tickets__item__content__subtitle {
	margin-bottom: 0.25em;
	font-size: 0.9rem !important;
}
.tribe-tickets__mini-cart .tribe-tickets__item__extra__price {
	margin-right: 0.4em;
	white-space: nowrap;
	font-weight: normal !important;
	font-family: 'Nunito Sans', sans-serif !important;
}
/* .tribe-tickets__mini-cart .tribe-tickets__item__extra__price::after {
	content: ' ea';
} */
.tribe-tickets__mini-cart .tribe-ticket-quantity {
	margin-right: 1.5em;
	text-align: right !important;
	white-space: nowrap;
	font-weight: normal !important;
	font-family: 'Nunito Sans', sans-serif !important;
}
.tribe-tickets__mini-cart .tribe-ticket-quantity::before {
	content: '× ';
}
.tribe-tickets__mini-cart .tribe-tickets__item__total {
	white-space: nowrap;
	font-family: 'Nunito Sans', sans-serif !important;
}
.tribe-tickets__mini-cart .tribe-tickets__footer {
	padding: 0 !important;
	font-weight: bold;
	
	display: flex;
	justify-content: space-between;
}
.tribe-tickets__mini-cart .tribe-tickets__footer__back-link {
	display: none !important;
	font-weight: normal;
}
.tribe-tickets__mini-cart .tribe-tickets__footer__total__wrap {
	margin-left: 1.5em;
}
/* Get rid of the whitespace between '$' and the price. */
.tribe-tickets__mini-cart .tribe-formatted-currency-wrap {
	display: inline-flex;
}


/* Individual ticket (attendee) container */
.tribe-tickets__item__attendee__fields__container .tribe-ticket {
	margin: 1.5em 0;
	padding: 1.5em !important;
	/* padding: 1.5em 0 1.5em 1.5em !important; */
	/* border-left: 0.5em solid #e6e6e6; */
	background: #e6e6e6;
}
.tribe-tickets__item__attendee__fields__container .tribe-ticket h4 {
	margin: 0 0 1em !important;
}

/* Custom fields for the event (uses class names 'tickets-meta') */
.tribe-tickets__item__attendee__fields__container .tribe-ticket__heading {
	font-size: 1.5rem !important;
}
.tribe-tickets-meta-fieldset h3 {
	margin: 0.25em 0;
	font-size: 1rem;
	font-family: 'Nunito Sans', sans-serif;
}

/* Save and Checkout button */
.tribe-tickets__registration__footer {
	justify-content: flex-start !important; /* Left align button */
}
.tribe-tickets__item__registration__submit {
	display: inline-block;
	margin: 0.25em 0;
	padding: 0.5em 1.4em 0.39em !important;
	border: 2px solid transparent; /* Used for focus state below */
	border-radius: 1em;
	background: #41BA7C !important;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
	color: white;
	font-size: 110%;
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	line-height: 1.1;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	cursor: pointer;
	transition: box-shadow 0.05s, transform 0.05s;
}
.tribe-tickets__item__registration__submit:focus {
	outline: none; /* We set our own below using border */
	border: 2px solid hsla(0, 0%, 50%, 0.5);
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.tribe-tickets__item__registration__submit:active {
	transform: translateY(0.05em);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.tribe-tickets__item__registration__submit[disabled] {
	opacity: 0.5;
	box-shadow: none;
	cursor: default;
}
.tribe-tickets__item__registration__submit[disabled]:active {
	transform: none;
}


/* -----------------------------------------------------------------------------
 * Subscribe to email updates (appears above footer on various pages)
 * ---------------------------------------------------------------------------*/
.footer-subscribe {
	width: 100%;
	padding: 3em 0;
	background: #e6e6e6;
	border-top: 0.5em solid white;
	/* border-top: 0.5em solid #e6e6e6; */
	
	text-align: center;
}
@media (min-width: 40em) {
	/* .footer-subscribe { text-align: left; } */
}
.footer-subscribe .limit-width > :first-child { margin-top: 0; }
.footer-subscribe .limit-width > :last-child { margin-bottom: 0; }
.footer-subscribe .button { background: white; }


/* -----------------------------------------------------------------------------
 * Shop
 * ---------------------------------------------------------------------------*/

/* Shop Categories page */
.shop-categories-page .content-body {
	overflow: hidden;
}
.shop-categories-page .limit-width {
	max-width: 80em;
}
.shop-categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.5em -1.5em 1.5em 0;
	overflow: hidden;
}
.shop-category {
	flex: 1 1 18em;
	max-width: 23em;
	margin: 0 1.5em 1.5em 0;
}
.shop-category-link {
	text-decoration: none;
}
.shop-category-link:hover,
.shop-category-link:focus {
	text-decoration: none;
	background: transparent;
}
.shop-category-image-wrapper {
	display: block;
	padding-top: 70%; /* This controls the aspect ratio of the images */
	position: relative;
}
.shop-category-image {
	display: block;
	background: #878787;
	
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
.shop-category-name {
	display: block;
	margin: 0.5em 0 0;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 150%;
	/* text-transform: lowercase; */
}



 .shop-page .content-body .wpf_form_shop_filters {
	 visibility: visible !important;
	margin: 0 -1.5em 1.5em;
	padding: 1.5em;
	background: #e6e6e6;
}
@media (min-width: 30em) {
	.shop-page .content-body .wpf_form_shop_filters {
		margin: 0 -3em 1.5em;
		padding: 1.5em 3em;
	}
}
@media (min-width: 45em) {
	.shop-page .limit-width {
		max-width: 100em;
		padding: 0 3em;
	}
	.shop-page .content-body {
		display: grid;
		grid-template-columns: 15.2em 1fr;
		gap: 3em;
		
		display: -ms-grid;
		-ms-grid-columns: 15.2em 3em 1fr;
	}
	/* Put filter stuff in left column */
	.shop-page .content-body .wpf_form_shop_filters {
		grid-column: 1;
		grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-row: 1;
		
		margin: 0;
		padding: 0;
		background: white;
	}
	/* Everything else in right column */
	.shop-page .content-body > * {
		grid-column: 2;
		grid-row: 1;
		-ms-grid-column: 3; /* In IE, the gap/gutter counts as a column */
		-ms-grid-row: 1;
	}
	.wpf_item:first-of-type {
		padding-top: 0;
	}
	.wpf_items_wrapper .wpf_item .wpf_column_horizontal li {
		display: block; /* Force vertical layout of items */
	}
}

/* Filters */

/* Filter has a random paragraph after it that we don't need. */
.shop-page .content-body .wpf_form_shop_filters + p {
	display: none;
}
.wpf_item .wpf_item_name.wpf_item_name {
	margin: 0 0 0.5em;
	padding: 0;
	border: none;
}
.wpf_item_count.wpf_item_count {
	/* margin-left: 0.3em; */
	background: hsla(0, 0%, 95%, 0.5);
	border-radius: 40%;
}
/* Price slider */
.wpf_slider.wpf_slider.wpf_slider {
	margin-top: 1.75em;
	margin-left: 0.75em;
	margin-right: 0.75em;
}
.wpf-slider-tooltip.wpf-slider-tooltip {
	transform: translateX(-50%) translateY(-0.5em);
}
.wpf_slider.ui-slider .ui-widget-header.ui-widget-header {
    background: #4e4e4e;
}





/* List of products */
.woocommerce .content-body {
	/* overflow-x: hidden; */
	overflow: visible;
}

/* Number of results and sorting drop down */
.woocommerce-result-count {
	display: none;
	margin-top: 3em;
}
.woocommerce-result-count,
.woocommerce-ordering {
	display: none; /* Hiding this because it doesn't seem to work properly. */
	font-size: 85%;
	color: #4e4e4e;
}

@media (min-width: 35em) {
	.woocommerce-result-count,
	.woocommerce-ordering {
		/* display: inline-block; */
	}
	.woocommerce-result-count {
		margin: 3em 0 0;
	}
	.woocommerce-ordering {
		margin: 3em 0 0;
		float: right;
	}
}
@media (min-width: 45em) {
	.woocommerce-result-count {
		margin-top: 0;
	}
	.woocommerce-ordering {
		margin-top: 0;
	}
}

ul.products {
	margin: 0 -1.5em 1.5em 0;
	padding: 0;
	
	/* border-top: 1px solid #e6e6e6; */
	
	list-style: none;
	
	display: flex;
	flex-wrap: wrap;
}
.products .product {
	flex: 1 1 100%;
	margin: 0;
	padding: 0 1.5em 1.5em 0;
}
@media (min-width: 30em) {
	.products .product { flex-basis: 50%; max-width: 50%; }
}
@media (min-width: 50em) {
	.products .product { flex-basis: 33.333%; max-width: 33.333%; }
}
.woocommerce-loop-product__link {
	display: block;
	text-decoration: none;
	transition: none;
}
.woocommerce-loop-product__link:hover {
	background: transparent;
}
.products .product .attachment-woocommerce_thumbnail {
	max-width: none;
	width: 100%;
}
.woocommerce-loop-product__title {
	margin: 0 0 0.2em;
	font-size: 120%;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	text-transform: none;
}
.products .product .price {
	display: block;
	margin: 0 0 0.25em;
	font-size: 1em;
}
.products .product .price del { opacity: 0.4; font-size: 90%; }
.products .product .price ins { text-decoration: none; }
.products .woocommerce-price-suffix { display: none; }
.products .product .button {
	font-size: 80%;
}
.products .product .added_to_cart {
	display: inline-block;
	margin: 0.25em 0 0.25em 1em;
	font-size: 90%;
	white-space: nowrap;
}


/* Categories (in list view) */
.product-category a {
	display: block;
	text-decoration: none;
}
.product-category a:hover {
	background: transparent;
}
.product-category img {
	border: #e6e6e6 0.5em solid;
}
.product-category .woocommerce-loop-category__title {
	margin: 0 0 0.2em;
	font-size: 150%;
	line-height: 1.2;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	text-transform: none;
}
.product-category .woocommerce-loop-category__title .count {
	/* Hiding this product count since it seems to include out-of-stock
	products. */
	display: none;
	margin-left: 0.1em;
	background: transparent;
	color: #878787;
	font-size: 75%;
}

.woocommerce-pagination {
	margin: 3em 0.75em 1.5em;
}
.woocommerce-pagination::before {
	content: "Go to Page";
	display: block;
	margin: 0 0 0.5em;
	text-align: center;
}
.woocommerce-pagination ul.page-numbers {
	margin: 0;
	padding: 0; 
	list-style: none;
	display: flex;
	justify-content: stretch;
}
.woocommerce-pagination .page-numbers li {
	flex: 1 0 auto;
	margin: 0 1em 0 0;
}
.woocommerce-pagination .page-numbers li:last-child {
	margin-right: 0;
}
.woocommerce-pagination .page-numbers li .current,
.woocommerce-pagination .page-numbers li a {
	display: block;
	width: 100%;
	padding: 0.75em 1.5em;
	background: #e6e6e6;
	text-align: center;
	text-decoration: none;
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	line-height: 1.2rem;
	border-radius: 1.3em;
	box-shadow: 0 0.2em 0.25em hsla(0, 0%, 0%, 0.25);
}
.woocommerce-pagination .page-numbers li .previous,
.woocommerce-pagination .page-numbers li .next {
	font-size: 120%; /* Make icons bigger */
	line-height: 0.83rem;
}
.woocommerce-pagination .page-numbers li .current {
	opacity: 0.35;
	box-shadow: none;
}



/**
* Product Page
*/
.single-product .content-body {
	overflow-x: hidden; /* Fix weird unnecessary scroll bar. */
}

.product {
	margin-bottom: 0;
	position: relative;
}
.product .product_title {
	clear: none;
	padding: 0;
	margin: 1.5em 0 0.75em;
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	text-transform: none;
	font-size: 200%;
	line-height: 1.25;
}
.product .price {
	display: block;
	margin: 1.5em 0;
	font-size: 1.25em;
}
.product .price del { opacity: 0.4; font-size: 90%; }
.product .price ins { text-decoration: none; }

.product .quantity {
	margin-right: 0.5em;
}
.product .quantity.hidden {
	display: none !important;
}
.product .quantity input {
	margin: 0;
	display: inline-block;
	min-height: 2.75em;
	font-size: 110%;
}
.product .single_add_to_cart_button {
	margin: 0;
	min-height: 2.5em;
	font-size: 120%;
}
.product .stock {
	font-size: 0.92em;
}
.product .out-of-stock {
	color: #EF4030;
}
.woocommerce-product-rating {
	margin-bottom: 1.5em;
}

.woocommerce-product-attributes td > :first-child { margin-top: 0; }
.woocommerce-product-attributes td > :last-child { margin-bottom: 0; }

/* View cart button in the alert message after you add the product to your
   cart */
.woocommerce-message .button.wc-forward {
	margin-right: 0.5em;
}

/* A lot of what follows is copied from WooCommerce's stylesheet, that's why
/* it's a bit disorganised */
.product .images {
	margin-bottom: 2em;
}
.product .images img {
	display: block;
	width: 100%;
	height: auto;
	box-shadow: none;
}
.product .images .thumbnails {
	padding-top: 1em;
}
.product .woocommerce-product-gallery {
	margin: 1.5em 0;
	position: relative;
}
@media (min-width: 30em) {
	.product .woocommerce-product-gallery {
		/* max-width: 20em; */
	}
}
.woocommerce-product-gallery__wrapper {
	transition: all cubic-bezier(0.795, -0.035, 0, 1) 0.5s;
	margin: 0;
	padding: 0;
}

.woocommerce-product-gallery__wrapper .zoomImg {
	background-color: #fff;
	opacity: 0;
}

.woocommerce-product-gallery__image--placeholder {
	border: 1px solid #f2f2f2;
}

.woocommerce-product-gallery__image:nth-child(n+2) {
	width: 25%;
	display: inline-block;
}

.woocommerce-product-gallery__trigger {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 1em;
	z-index: 9;
	width: 36px;
	height: 36px;
	background: #fff;
	text-indent: -9999px;
	border-radius: 100%;
	box-sizing: content-box;
}
.woocommerce-product-gallery__trigger::before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid #000;
	border-radius: 100%;
	position: absolute;
	top: 9px;
	left: 9px;
	box-sizing: content-box;
}
.woocommerce-product-gallery__trigger::after {
	content: "";
	display: block;
	width: 2px;
	height: 8px;
	background: #000;
	border-radius: 6px;
	position: absolute;
	top: 19px;
	left: 22px;
	transform: rotate(-45deg);
	box-sizing: content-box;
}
.flex-control-thumbs {
	overflow: hidden;
	zoom: 1;
	margin: 0.5em 0 0;
	padding: 0;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
	list-style: none;
}
.flex-control-thumbs li img {
	cursor: pointer;
	opacity: 0.5;
	margin: 0;
}
.flex-control-thumbs li img.flex-active,
.flex-control-thumbs li img:hover {
	opacity: 1;
}

.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1){
	clear: left;
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1){
	clear: left;
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1){
	clear: left;
}

.product .summary {
	margin-bottom: 3em;
}

.product .social {
	text-align: right;
	margin: 0 0 1em;
}
.product .social span {
	margin: 0 0 0 2px;
}
.product .social span span {
	margin: 0;
}
.product .social .stButton .chicklets {
	padding-left: 16px;
	width: 0;
}
.product .social iframe {
	float: left;
	margin-top: 3px;
}

.product .product_meta {
	margin: 3em 0;
}
.product .product_meta .sku_wrapper,
.product .product_meta .posted_in {
	display: block;
}
.product .product_meta .sku_wrapper {
	margin: 0 0 0.75em;
	color: #4e4e4e;
	font-size: 80%;
}


.woocommerce-tabs ul.tabs {
	display: none; /* Hide tabs */
	list-style: none;
	padding: 0 0 0 1em;
	margin: 0 0 1.618em;
	overflow: hidden;
	position: relative;
}
.woocommerce-tabs ul.tabs li {
	border: 1px solid #bebebe;
	background-color: #e6e6e6;
	display: inline-block;
	position: relative;
	z-index: 0;
	border-radius: 4px 4px 0 0;
	margin: 0 -5px;
	padding: 0 1em;
}
.woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: 0.5em 0;
	font-weight: 700;
	color: #878787;
	text-decoration: none;
}
.woocommerce-tabs ul.tabs li a:hover {
	text-decoration: none;
	color: #bebebe;
}


.woocommerce-tabs ul.tabs li.active {
	background: #e6e6e6;
	z-index: 2;
	border-bottom-color: #e6e6e6;
}
.woocommerce-tabs ul.tabs li.active a {
	color: inherit;
	text-shadow: inherit;
}

.woocommerce-tabs ul.tabs li.active a::before {
	box-shadow: 2px 2px 0 #e6e6e6;
}

.woocommerce-tabs ul.tabs li.active a::after {
	box-shadow: -2px 2px 0 #e6e6e6;
}

.woocommerce-tabs ul.tabs li::before,
.woocommerce-tabs ul.tabs li::after {
	border: 1px solid #e6e6e6;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
	box-sizing: border-box;
}

.woocommerce-tabs ul.tabs li::before {
	left: -5px;
	border-bottom-right-radius: 4px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #e6e6e6;
}

.woocommerce-tabs ul.tabs li::after {
	right: -5px;
	border-bottom-left-radius: 4px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #e6e6e6;
}

ul.tabs::before {
	position: absolute;
	content: " ";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #e6e6e6;
	z-index: 1;
}

.woocommerce-tabs .panel {
	display: block !important; /* Force all tab contents to be always be shown */
	margin: 0 0 2em;
	padding: 0;
}

.product p.cart {
	margin-bottom: 2em;

	
}

.product form.cart {
	display: block;
	margin-bottom: 2em;

	/* overflow: hidden; */
}
.product form.cart div.quantity {
	display: inline-block;
	/* margin: 0 4px 0 0; */
}

.product form.cart table {
	border-width: 0 0 1px;
}
.product form.cart table td {
	padding-left: 0;
}

.product form.cart table div.quantity {
	float: none;
	margin: 0;
}

.product form.cart table small.stock {
	display: block;
	float: none;
}

.product form.cart .variations {
	margin-bottom: 1em;
	border: 0;
	width: 100%;
}
.product form.cart .variations td,
.product form.cart .variations th {
	border: 0;
	vertical-align: top;
	line-height: 2em;
}

.product form.cart .variations label {
	font-weight: 700;
}

.product form.cart .variations select {
	max-width: 100%;
	min-width: 75%;
	display: inline-block;
	margin-right: 1em;
}

.product form.cart .variations td.label {
	padding-right: 1em;
}

.product form.cart .woocommerce-variation-description p {
	margin-bottom: 1em;
}

.product form.cart .reset_variations {
	visibility: hidden;
	font-size: 0.83em;
}

.product form.cart .wc-no-matching-variations {
	display: none;
}

.product form.cart .button {
	/* vertical-align: middle; */
	/* float: left; */
}

.product form.cart .group_table td.woocommerce-grouped-product-list-item__label {
	padding-right: 1em;
	padding-left: 1em;
}

.product form.cart .group_table td {
	vertical-align: top;
	padding-bottom: 0.5em;
	border: 0;
}

.product form.cart .group_table td:first-child {
	width: 4em;
	text-align: center;
}

.product form.cart .group_table .wc-grouped-product-add-to-cart-checkbox {
	display: inline-block;
	width: auto;
	margin: 0 auto;
	transform: scale(1.5, 1.5);
}

.onsale {
	min-height: 3.236em;
	min-width: 3.236em;
	padding: 0 0.202em;
	font-size: 100%;
	font-family: 'SAM Display', sans-serif;
	font-weight: bolder;
	text-transform: lowercase;
	position: absolute;
	text-align: center;
	line-height: 3.236;
	top: 0.5em;
	left: 0.5em;
	margin: 0;
	border-radius: 47%;
	background-color: #98CB4F;
	z-index: 9;
}


.product .related > h2 {
	margin-bottom: 1em;
}
.product .related.products,
.product .related .products {
	margin-top: 0;
	padding-top: 0;
	border: none;
}




	
/* Use a grey background on any page that has form fields, to make the fields
   look nicer */
.woocommerce-cart .site-content,
.woocommerce-checkout:not(.woocommerce-order-received) .site-content,
.woocommerce-lost-password .site-content {
	background: #e6e6e6;
	overflow-y: hidden; /* Stop margins collapsing at the bottom. */
}

/* Warning message on product pages / checkout to say that products are pickup
 * only. */
.pickup-only-message-product-page {
	padding: 1.5em;
	background: lightyellow;
}
.pickup-only-message-product-name {
	display: inline-block;
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	background: lightyellow;
	font-size: 75%;
	line-height: 1.2;
	text-transform: uppercase;
	white-space: nowrap;
}

.woocommerce-notices-wrapper .woocommerce-message {
	margin: 1.5em 0;
	padding: 0.25em 0.5em;
	background: hsla(0, 0%, 95%, 0.5);
}
.woocommerce_error,
.woocommerce-error {
	color: #EF4030;
	font-weight: bold;
}

/* Cart */
.woocommerce-cart .content-body {
	overflow-x: hidden; /* Fix weird unnecessary scroll bar. */
}
.woocommerce-cart .content-body-outer { padding-bottom: 0; }
.woocommerce-cart-form {
	margin: 1.5em -0.5em;
	overflow: hidden;
}
@media (min-width: 45em) {
	.woocommerce-cart-form {
		margin: 0 -0.5em 1.5em;
	}
}
.woocommerce-cart-form table {
	display: block;
	width: 100%;
}
.woocommerce-cart-form table td {
	display: block;
	border: none;
}
.woocommerce-cart-form table thead { display: none; }
.woocommerce-cart-form table tbody {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
/* This applies to the bottom row with the button - it doesn't have a class. */
.woocommerce-cart-form table tbody tr {
	display: block;
	flex: 0 0 100%;
}
.woocommerce-cart-form table tbody .woocommerce-cart-form__cart-item {
	position: relative; /* So we can absolutely position the remove button */
	flex: 1 1 20em;
	margin: 0 0.5em 0.5em;
	background: white;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.woocommerce-cart-form table .product-remove {
	position: absolute;
	z-index: 1; /* Appear on top of the product thumbnail. */
	width: 100%;
	padding-top: 1em;
	padding-right: 0.9em;
}
.woocommerce-cart-form table .product-remove a {
	margin-left: auto;
	text-decoration: none;
	background: white; /* Make sure icon is visible on top of thumbnail. */
}
.woocommerce-cart-form table .product-thumbnail {
	flex: 1 0 100%;
	text-align: center;
	padding-top: 1em;
}
.woocommerce-cart-form table .product-thumbnail a img {
	display: block;
	margin: 0 auto;
}
.woocommerce-cart-form table .product-name {
	flex: 1 1 100%;
	padding: 0.5em 1em;
	border-bottom: 1px solid #e6e6e6;
	
	font-family: 'SAM Display', sans-serif;
	font-weight: lighter;
	font-size: 120%;
	line-height: 1.2;
}
.woocommerce-cart-form table .product-name a {
	text-decoration: none;
}
.woocommerce-cart-form table .product-price,
.woocommerce-cart-form table .product-quantity {
	flex: 1 1 40%;
	padding: 0;
	align-items: center;
}
.woocommerce-cart-form table .product-price {
	padding-top: 0.65em;
}
.woocommerce-cart-form table .product-price .amount {
	display: block;
	padding: 0.75em 0 0.75em 1.2em; /* Can't put padding on table cell as it */
	font-weight: bold;              /* causes flex glitches in IE. */
}
.woocommerce-cart-form table .product-price .amount::after {
	content: "each";
	display: inline-block;
	margin-left: 0.25em;
	color: #878787;
	font-size: 90%;
	font-weight: normal;
}
.woocommerce-cart-form table .product-quantity {
	flex-basis: 60%;
	padding: 0;
}
.woocommerce-cart-form table .product-quantity .quantity {
	padding: 1em 1.2em 1em 0; /* Can't put padding on table cell as it */
	text-align: right;        /* causes flex glitches in IE. */
}
.woocommerce-cart-form table .product-quantity input {
	display: inline-block;
	width: 4em;
	/* padding: 0.25em 0 0.25em 0.75em; */
	/* font-size: 110%; */
	text-align: center;
}
.woocommerce-cart-form table .product-quantity .quantity::before {
	content: "Quantity ×";
	display: inline-block;
	margin-right: 0.15em;
	color: #878787;
	font-size: 90%;
}
.woocommerce-cart-form table .product-subtotal {
	display: none;
}
.woocommerce-cart-form .actions {
	padding: 1.5em 0.5em 0.5em;
}
@media (min-width: 45em) {
	.woocommerce-cart-form .actions {
		padding: 1.5em 0.5em 2.5em;
	}
}

.woocommerce-cart-form .actions .coupon {
	margin: 0 0 1.5em;
	padding: 1.5em;
	background: white;
}
.woocommerce-cart-form .actions .coupon [name="coupon_code"] {
	margin: 0.25em 0;
}
.woocommerce-cart-form .actions .coupon .button {
	background: #e6e6e6;
}
@media (min-width: 36em) {
	.woocommerce-cart-form .actions .coupon {
		display: flex;
		flex-wrap: no-wrap;
		justify-content: space-between;
		align-items: center;
	}
	.woocommerce-cart-form .actions .coupon [name="coupon_code"] {
		flex: 1 1 10em;
		min-width: 10em;
		margin: 0 1.5em;
	}
	.woocommerce-cart-form .actions .coupon .button {
		flex: 0 0 auto;
	}
}

.woocommerce-cart-form .button {
	background: white;
}
.cart-totals-section {
	padding: 2.5em 0 4em;
	background: white;
} 
.cart-totals-section h2 {
	margin-top: 0;
}
.cart-totals-section table {
	/* min-width: 0; */
	width: auto;
}
.cart-totals-section td {
	padding: 1em 0;
}
/*.cart-subtotal { display: none; }  Subtotal is redundant if no shipping */
.cart-subtotal td { text-align: right; }

.cart_totals .cart-discount td {
	text-align: right;
}

.woocommerce-shipping-totals td {
	text-align: right;
}
.cart_totals tr.shipping td {
    text-align: right;
}
.shipping-calculator-form {
	margin: 0.5em 0 0 0.5em;
	padding: 0.01em 0.5em 0.5em;
	text-align: left; /* Aligning right messes up the dropdowns */
	background: #e6e6e6;
	border-radius: 0.5em;
}
.shipping-calculator-form .button { background: white; }
.woocommerce-shipping-totals p {
	margin: 0.5em 0;
}
.woocommerce-shipping-totals p:first-of-type {
	margin-top: 1.5em;
}
.woocommerce-shipping-totals .woocommerce-shipping-methods {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Since WooCommerce doesn't hide the shipping details when you choose Local
   Pickup, we have some JavaScript which adds the .hide-shipping-calculator
   class to the body. */
.hide-shipping-calculator .woocommerce-shipping-destination,
.hide-shipping-calculator .woocommerce-shipping-calculator {
	display: none;
}

.cart-totals-section .order-total th {
	padding: 1.5em 3em 0 0;
	background: transparent;
	color: black;
	vertical-align: top;
}
.cart-totals-section .order-total td {
	padding: 1.5em 0 0;
	border: none;
	text-align: right;
}
.cart-totals-section .order-total td small {
	display: block;
	margin: 0.25em 0 0;
}
.wc-proceed-to-checkout .button {
	margin-top: 1em;
	background: #41BA7C;
	color: white;
	/* font-size: 150%; */
}
/* Cart Empty */
.return-to-shop {
	margin-bottom: 4.5em;
}
.return-to-shop .button {
	background: white;
}



/* Checkout */
.woocommerce-checkout .site-main .limit-width {
	max-width: 75em;
}

/* "Have a Coupon?" message */
.woocommerce-checkout .woocommerce-form-coupon-toggle {
	margin: 0 0 1.5em;
}
form.checkout_coupon {
	margin: 0 0 3em;
	padding: 0.1em 1.5em;
	background: white;
}
form.checkout_coupon p {
	padding: 0;
}
form.checkout_coupon p:first-child {
	display: none;
}
@media (min-width: 32.5em) {
	form.checkout_coupon {
		display: flex;
		flex-wrap: no-wrap;
		justify-content: space-between;
		align-items: center;
	}
	form.checkout_coupon .form-row-first {
		flex: 1 0 14em;
	}
}
.woocommerce-checkout .woocommerce-message { /* Coupon code applied message. */
	margin: 0 0 1.5em;
}

/* Can't get these to go in the right place in Firefox since it doesn't support
/* break-before: column, and they're not essential, so I'm just hiding them. */
#order_review_heading,
.tribe-checkout-backlinks {
	display: none;
}

@media (min-width: 60em) {
	form.woocommerce-checkout {
		margin: 0;
		columns: 2;
		column-gap: 6em;
		column-rule: 1px solid #bebebe;
	}
	form.woocommerce-checkout #order_review_heading {
		margin-top: 0;
		break-before: column;
	}
	form.woocommerce-checkout .col-1,
	form.woocommerce-checkout .col-2 {
		break-inside: avoid;
	}
	form.woocommerce-checkout .col2-set {
		break-inside: avoid;
	}
}
.woocommerce-checkout .woocommerce-form-login-toggle {
	margin: 1.5em 0;
	padding: 0.5em;
	background: hsla(0, 0%, 100%, 0.5);
	line-height: 1.25;
}
@media (min-width: 45em) {
	.woocommerce-checkout .woocommerce-billing-fields > h3 { margin-top: 0; }
	.woocommerce-checkout .woocommerce-form-login-toggle { margin-top: 0; }
}
.woocommerce-checkout .woocommerce-form-login-toggle a {
	display: block;
	width: auto;
}

.woocommerce-checkout .woocommerce-billing-fields > h3 {
	margin-bottom: 0.5em;
	text-transform: capitalize;
}

.hide-shipping-calculator .woocommerce-checkout .woocommerce-shipping-fields {
	display: none;
}


/* Checkout > Mailing List radio field */
#additional_mailing_list_field .woocommerce-input-wrapper {
	display: block;
	margin-top: 0.5em;
	width: 8em; /* Force radio buttons to be on their own lines */
}
#additional_mailing_list_field .woocommerce-input-wrapper * {
	display: inline;
}
#additional_mailing_list_field .woocommerce-input-wrapper label {
	margin-right: 1.25em;
}

/* Checkout > Order summary table */
.woocommerce-checkout-review-order-table {
	background: white;
}
table.woocommerce-checkout-review-order-table th,
table.woocommerce-checkout-review-order-table td {
	padding: 1em;
}
table.woocommerce-checkout-review-order-table .product-name {
	width: auto;
}
table.woocommerce-checkout-review-order-table .product-total,
table.woocommerce-checkout-review-order-table tfoot td {
	width: 14em;
	text-align: right;
}
table.woocommerce-checkout-review-order-table .woocommerce-shipping-methods li {
	margin-bottom: 0.25em;
}
table.woocommerce-checkout-review-order-table .woocommerce-shipping-methods li:last-child {
	margin-bottom: 0;
}
/* table.woocommerce-checkout-review-order-table tfoot tr:last-of-type {
	padding: 0 1em;
	border-top: 1.5em solid #e7e7e7;
	background: #4e4e4e;
	color: white;
} */
table.woocommerce-checkout-review-order-table tfoot tr:last-of-type td {
	border: none;
}
.pickup-only-message-checkout-page {
	margin: 0;
	text-align: left;
}
table.woocommerce-checkout-review-order-table small.includes_tax {
	margin: 0.25em 0 0;
	line-height: 1.25; display: block;
}
.woocommerce-checkout-payment .wc_payment_methods {
	padding: 0;
	list-style: none;
}
.woocommerce-checkout-payment .wc_payment_method > label:first-of-type {
	display: block;
	margin-top: 2.5em;
	font-family: 'SAM Display', sans-serif;
	font-size: 140%;
}
.woocommerce-checkout-payment .wc_payment_method > label:first-of-type
	img:first-of-type {
		margin-left: 0.5em !important;
}
.woocommerce-checkout-payment .wc_payment_method .stripe-icon {
	transform: translateY(0.08em);
	max-width: 35px !important;
	filter: saturate(0);
}
.wc-credit-card-form {
	padding: 0;
	border: none;
}
.wc-stripe-elements-field {
	padding: 0;
	border: none;
	font-family: 'Nunito Sans', sans-serif;
}
.form-row.place-order {
	margin: 1.5em 0 3em;
	padding: 0;
	background: transparent;
}
@media (min-width: 60em) {
	.form-row.place-order { margin-bottom: 0; }
}
.woocommerce-privacy-policy-text {
	font-size: 85%;
}
.form-row.place-order .button {
	margin-top: 1.5em;
	background: #41BA7C;
	color: white;
	font-size: 150%;
}


/* Pay for Order page */
.woocommerce-order-pay .site-main .limit-width {
	max-width: 40em !important;
}
.woocommerce-order-pay .content-body {
	text-align: center;
}
.woocommerce-order-pay .order_details {
	margin-left: 0;
	padding: 0;
	list-style: none;
}
.woocommerce-order-pay .order_details .total {
	margin: 0.5em 0 0;
	font-size: 125%;
}
.woocommerce-order-pay .order_details .method {
	display: none;
}
.woocommerce-order-pay button#simplify-payment-button {
	display: inline-block;
	margin: 1.5em 0 0.25em !important;
	padding: 0.5em 1.4em 0.39em !important;
	border: 2px solid transparent !important; /* Used for focus state below */
	border-radius: 1em !important;
	background: #41BA7C !important;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
	color: white !important;
	font-family: 'SAM Display', sans-serif !important;
	font-size: 150% !important;
	font-weight: bolder;
	line-height: 1.1;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	cursor: pointer !important;
	transition: box-shadow 0.05s, transform 0.05s;
}
.woocommerce-order-pay button#simplify-payment-button +
.woocommerce-order-pay button#simplify-payment-button { margin-left: 0.5em; }
.woocommerce-order-pay button#simplify-payment-button:hover {
	background: #41BA7C !important;
}
.woocommerce-order-pay button#simplify-payment-button:focus {
	outline: none; /* We set our own below using border */
	border: 2px solid hsla(0, 0%, 50%, 0.5) !important;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.woocommerce-order-pay button#simplify-payment-button:active {
	transform: translateY(0.05em);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
/* Cancel button */
.woocommerce-order-pay button#simplify-payment-button + .button {
	display: block;
	margin: 1.5em auto 1.5em;
	width: max-content;
	background: white;
}


/* Checkout Success > Order Received */
.woocommerce-thankyou-order-details {
	padding: 0;
	list-style: none;
}





/* My Account */

/* Login page */
.woocommerce-form-login {
	margin: 1.5em 0 3em;
	padding: 1.5em;
	background: #e6e6e6;
}
.woocommerce-form-login > :last-child {
	margin-bottom: 0;
}
.woocommerce-account .woocommerce-form-login > .form-row:nth-of-type(3),
.woocommerce-checkout .woocommerce-form-login > .form-row:nth-of-type(4) {
	/* padding: 0; */
	background: transparent;
	text-align: center;
}
.woocommerce-account .woocommerce-form-login > .form-row:nth-of-type(3) .button,
.woocommerce-checkout .woocommerce-form-login > .form-row:nth-of-type(4) .button {
	background: white;
}
.woocommerce-form-login__rememberme {
	margin-bottom: 1.5em;
}
.woocommerce-form-login .woocommerce-LostPassword,
.woocommerce-form-login .lost_password {
	text-align: center;
}


.woocommerce-MyAccount-navigation {
	margin: 1.5em 0;
	padding: 0.25em 0;
	background: #e6e6e6;
}
.woocommerce-MyAccount-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.woocommerce-MyAccount-navigation li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #bebebe;
}
.woocommerce-MyAccount-navigation li:last-child {
	border: none;
}

.woocommerce-MyAccount-navigation li a {
	display: block;
	margin: 0;
	padding: 0.5em 1.5em;
	overflow: hidden;
	text-decoration: none;
}
/* Icon */
.woocommerce-MyAccount-navigation ul li a::before {
	margin-left: 1.5em !important;
	/* width: auto !important; */
	/* float: none !important; */
	text-align: center !important;
}

.woocommerce-MyAccount-content {
	margin: 1.5em 0;
}

@media (min-width: 45em) {
	.logged-in.woocommerce-account .content-body > .woocommerce {
		display: flex;
		justify-content: stretch;
		align-items: flex-start;
	}
	.woocommerce-MyAccount-navigation {
		margin: 0 3em 0 0;
		width: 15em;
		flex-grow: 0;
		flex-shrink: 0;
	}
	.woocommerce-MyAccount-content {
		margin: 0;
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 1;
	}
}

.woocommerce-MyAccount-content .woocommerce-Message .button {
	display: block;
	margin: 0 0 1.5em;
	width: max-content;
}

.woocommerce-address-fields,
.woocommerce-MyAccount-content .woocommerce-Payment,
.woocommerce-EditAccountForm {
	margin: 0;
	padding: 0.5em 1.5em;
	background: #e6e6e6;
}
.woocommerce-EditAccountForm .woocommerce-form-row > span {
	display: block;
	margin: 0.5em 0;
	line-height: 1;
	font-size: 85%;
	opacity: 0.6;
}
.woocommerce-EditAccountForm fieldset {
	padding: 0 0.75em;
	border-radius: 0.75em;
	border: none;
	background: hsla(0,0%,100%, 0.5);
}
.woocommerce-EditAccountForm fieldset legend {
	font-weight: bold;
}
.woocommerce-address-fields .button,
.woocommerce-EditAccountForm .button {
	background: white;
}

.woocommerce-MyAccount-content .woocommerce-Payment {
	padding: 1.5em;
}
.woocommerce-MyAccount-content ul.woocommerce-PaymentMethods {
	margin: 0;
	padding: 0;
	list-style: none;
}
.woocommerce-MyAccount-content .woocommerce-Payment .form-row:last-of-type {
	padding: 0;
	background: transparent;
}
.woocommerce-MyAccount-content .woocommerce-Payment .button {
	background: white;
}






.content-subheading-search-query {
	font-weight: bolder;
	text-transform: lowercase;
}
.search-results .content-body-outer {
	background: #e6e6e6;
}
.search-result {
	margin: 1.5em 0;
	background: white;
	
	display: flex;
	align-items: center;
}
.search-result-link {
	text-decoration: none;
}
.search-result-link:hover,
.search-result-link:focus {
	background: white;
	text-decoration: none;
	/* box-shadow: 0 0.25em 1.5em hsla(0, 0%, 0%, 0.2); */
}
.search-result-content {
	flex: 1 1 auto;
	padding: 1.5em;
}
.search-result-title {
	margin: 0;
	line-height: 1.15;
}
.search-result-excerpt {
	display: none;
}
.search-result-date {
	margin: 0.25em 0 0;
}
.search-result-type {
	margin: 0.5em 0 0;
	font-weight: bold;
}
.search-result-image:not([data-use-fallback]) {
	flex: 0 0 38%;
	order: 2;
	align-self: stretch;
	display: block;
	min-height: 8em;
	background-color: #bebebe;
	background-size: cover;
	background-position: 50% 30%;
}



/* -----------------------------------------------------------------------------
 * Traditional Owners Acknowledgement
 * ---------------------------------------------------------------------------*/

/* Modal popup on first load of the website */
.traditional-owners-acknowledgement {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 500;
	overflow-y: auto;
	
	/* background: hsla(0, 0%, 100%, 0.8); */
	background: white;
	
	text-align: center;
}
@media (min-height: 36em) {
	/* Vertically center the content if the screen is tall */
	.traditional-owners-acknowledgement {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
.traditional-owners-acknowledgement-inner {
	padding: 1.5em;
	max-width: 30em;
	margin: 0 auto;
}
.traditional-owners-acknowledgement-logo {
	max-width: 6.5em;
}



/* ---------------------------------------------------------------------------*/

/**
* Accessibility
*/
.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	top: 1em;
	left: 1em;
	z-index: 100000;
	display: block;
	width: auto;
	height: auto;
	padding: 1em 1.618em;
	outline: none;
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: unset;
	clip-path: unset !important;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
}